*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: grid;
    height: 100vh;
    place-items: center;
    text-align: center;
    background-color: #f2f2f2;
}
.container{
    width: 25rem;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 15px;
}
.container form{
    margin: 20px 5px 10px 5px;
    position: relative;
}
.container form .input-field{
    height: 45px;
    width: 100%;
    display: flex;
    position: relative;
}
form .input-field input{
    width: 100%;
    height: 100%;
    border: 1px solid lightgrey;
    padding-left: 15px;
    outline: none;
    border-radius: 5px;
    font-size: 17px;
    transition: all 0.3s;
}
form .input-field input:focus{
    border-color: #27ae60;
    box-shadow: inset 0 0 3px #2fd072;
}
form .input-field .showBtn{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    display: none;
    user-select: none;
}
form .indicator{
    height: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}
form .indicator span{
    position: relative;
    height: 100%;
    width: 100%;
    background: lightgrey;
    border-radius: 5px;
}
form .indicator span:nth-child(2){
    margin: 0 3px;
}
form .indicator span.active:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.indicator span.weak:before{
    background-color: red;
}
.indicator span.medium:before{
    background-color: orange;
}
.indicator span.strong:before{
    background-color: green;
}
form .text{
    font-size: 20px;
    font-weight: 500;
    display: none;
    margin-bottom: -10px;
}
form .text.weak{
    color: red;
}
form .text.medium{
    color: orange;
}
form .text.strong{
    color: green;
}